td#green{
	color:#3C763D;
	background-color:#DFF0D8;
}

td#yellow{
	color:#8A6D3B;
	background-color:#FCF8E3;
}

td#red{
	color:#A94442;
	background-color:#F2DEDE;
}

td#blue{
	color:#31708F;
	background-color:#D9EDF7
}

td#light-grey{
	color:#000000;
	background-color:#FEFEFE
}

td#dark-gray{
	color:#000000;
	background-color:#F9F9F9
}